.popup-container {
  position: fixed;
  top: 0;
  left: 1100px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(215, 209, 209, 0.5);
  z-index: 100;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-popup-btn {
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-popup-btn {
  margin-top: 10px;
  background: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
